# Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Шаг 1. Откроем файл с данными и изучим общую информацию

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('data.csv')
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу


1. определите и заполните пропущенные значения:
2. опишите, какие пропущенные значения вы обнаружили;
3. приведите возможные причины появления пропусков в данных;
4. объясните, по какому принципу заполнены пропуски;
5. замените вещественный тип данных на целочисленный:
6. поясните, как выбирали метод для изменения типа данных;
7. удалите дубликаты:
8. поясните, как выбирали метод для поиска и удаления дубликатов в данных;
9. приведите возможные причины появления дубликатов;
10. выделите леммы в значениях столбца с целями получения кредита:
11. опишите, как вы проводили лемматизацию целей кредита;
12. категоризируйте данные:
13. перечислите, какие «словари» вы выделили для этого набора данных, и объясните, почему.