# –°–±–æ—Ä–Ω—ã–π –ø—Ä–æ–µ–∫—Ç 1

–í—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ –≤ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç-–º–∞–≥–∞–∑–∏–Ω–µ ¬´–°—Ç—Ä–∏–º—á–∏–∫¬ª, –∫–æ—Ç–æ—Ä—ã–π –ø—Ä–æ–¥–∞—ë—Ç –ø–æ –≤—Å–µ–º—É –º–∏—Ä—É –∫–æ–º–ø—å—é—Ç–µ—Ä–Ω—ã–µ –∏–≥—Ä—ã.

–ò–∑ –æ—Ç–∫—Ä—ã—Ç—ã—Ö –∏—Å—Ç–æ—á–Ω–∏–∫–æ–≤ –¥–æ—Å—Ç—É–ø–Ω—ã –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –æ –ø—Ä–æ–¥–∞–∂–∞—Ö –∏–≥—Ä, –æ—Ü–µ–Ω–∫–∏ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —ç–∫—Å–ø–µ—Ä—Ç–æ–≤, –∂–∞–Ω—Ä—ã –∏ –ø–ª–∞—Ç—Ñ–æ—Ä–º—ã (–Ω–∞–ø—Ä–∏–º–µ—Ä, Xbox –∏–ª–∏ PlayStation).

üéØ –í–∞–º –Ω—É–∂–Ω–æ _–≤—ã—è–≤–∏—Ç—å –æ–ø—Ä–µ–¥–µ–ª—è—é—â–∏–µ —É—Å–ø–µ—à–Ω–æ—Å—Ç—å –∏–≥—Ä—ã –∑–∞–∫–æ–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç–∏_. –≠—Ç–æ –ø–æ–∑–≤–æ–ª–∏—Ç —Å–¥–µ–ª–∞—Ç—å —Å—Ç–∞–≤–∫—É –Ω–∞ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –ø—Ä–æ–¥—É–∫—Ç –∏ —Å–ø–ª–∞–Ω–∏—Ä–æ–≤–∞—Ç—å —Ä–µ–∫–ª–∞–º–Ω—ã–µ –∫–∞–º–ø–∞–Ω–∏–∏. –ü–µ—Ä–µ–¥ –≤–∞–º–∏ –¥–∞–Ω–Ω—ã–µ –¥–æ 2016 –≥–æ–¥–∞.

–ü—Ä–µ–¥—Å—Ç–∞–≤–∏–º, —á—Ç–æ —Å–µ–π—á–∞—Å –¥–µ–∫–∞–±—Ä—å 2016 –≥., –∏ –≤—ã –ø–ª–∞–Ω–∏—Ä—É–µ—Ç–µ –∫–∞–º–ø–∞–Ω–∏—é –Ω–∞ 2017-–π. –ù—É–∂–Ω–æ –æ—Ç—Ä–∞–±–æ—Ç–∞—Ç—å –ø—Ä–∏–Ω—Ü–∏–ø —Ä–∞–±–æ—Ç—ã —Å –¥–∞–Ω–Ω—ã–º–∏. –ù–µ –≤–∞–∂–Ω–æ, –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É–µ—Ç–µ –ª–∏ –≤—ã –ø—Ä–æ–¥–∞–∂–∏ –Ω–∞ 2017 –≥–æ–¥ –ø–æ –¥–∞–Ω–Ω—ã–º 2016-–≥–æ –∏–ª–∏ –∂–µ 2027-–π ‚Äî –ø–æ –¥–∞–Ω–Ω—ã–º 2026 –≥–æ–¥–∞.

## 1. –û–±—â–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –¥–∞—Ç–∞—Å–µ—Ç–µ

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats as st

In [2]:
df = pd.read_csv('games.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

16 715 –∑–∞–ø–∏—Å–µ–π

## –®–∞–≥ 2. –ü–æ–¥–≥–æ—Ç–æ–≤—å—Ç–µ –¥–∞–Ω–Ω—ã–µ

- –ó–∞–º–µ–Ω–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ (–ø—Ä–∏–≤–µ–¥–∏—Ç–µ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É);

In [4]:
df.columns = [col.lower() for col in df.columns]

- –û–±—Ä–∞–±–æ—Ç–∞–π—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∏ –ø—Ä–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏:
  - –û–±—ä—è—Å–Ω–∏—Ç–µ, –ø–æ—á–µ–º—É –∑–∞–ø–æ–ª–Ω–∏–ª–∏ –ø—Ä–æ–ø—É—Å–∫–∏ –æ–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–º –æ–±—Ä–∞–∑–æ–º –∏–ª–∏ –ø–æ—á–µ–º—É –Ω–µ —Å—Ç–∞–ª–∏ —ç—Ç–æ –¥–µ–ª–∞—Ç—å;
  - –û–ø–∏—à–∏—Ç–µ –ø—Ä–∏—á–∏–Ω—ã, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–≥–ª–∏ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ –ø—Ä–æ–ø—É—Å–∫–∞–º;
  - –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ –∞–±–±—Ä–µ–≤–∏–∞—Ç—É—Ä—É 'tbd' –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö —Å —Ä–µ–π—Ç–∏–Ω–≥–æ–º. –û—Ç–¥–µ–ª—å–Ω–æ —Ä–∞–∑–±–µ—Ä–∏—Ç–µ —ç—Ç–æ –∑–Ω–∞—á–µ–Ω–∏–µ –∏ –æ–ø–∏—à–∏—Ç–µ, –∫–∞–∫ –µ–≥–æ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å;

In [5]:
df[df.name.isna()].name = 'unknown'
# –º–æ–∂–Ω–æ –±—Ä–∞—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –ø–æ –ø–ª–∞—Ç—Ñ–æ—Ä–º–µ
df[df.year_of_release.isna()].year_of_release = df.year_of_release.mean()
df[df.genre.isna()].genre = 'unknown'
df.na_sales.fillna(0)
df.eu_sales.fillna(0)
df.jp_sales.fillna(0)
df.other_sales.fillna(0)

df.critic_score.fillna(df.critic_score.mean())

/Users/a18992739/Library/Python/3.8/lib/python/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

0        76.000000
1        68.967679
2        82.000000
3        80.000000
4        68.967679
           ...
16710    68.967679
16711    68.967679
16712    68.967679
16713    68.967679
16714    68.967679
Name: critic_score, Length: 16715, dtype: float64

In [11]:
df[df.user_score == 'tbd'] = None
df.user_score = df.user_score.astype('float')
df.user_score = df.user_score.fillna(df.user_score.mean())

In [7]:
df.head(30)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,11.28,9.14,6.50,2.88,89.0,8.5,E
7,Wii Play,Wii,2006.0,Misc,13.96,9.18,2.93,2.84,58.0,6.6,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,14.44,6.94,4.70,2.24,87.0,8.4,E
9,Duck Hunt,NES,1984.0,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,Nintendogs,DS,2005.0,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN
11,Mario Kart DS,DS,2005.0,Racing,9.71,7.47,4.13,1.90,91.0,8.6,E
12,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,9.00,6.18,7.20,0.71,NaN,NaN,NaN
13,Wii Fit,Wii,2007.0,Sports,8.92,8.03,3.60,2.15,80.0,7.7,E
14,Kinect Adventures!,X360,2010.0,Misc,15.00,4.89,0.24,1.69,61.0,6.3,E
15,Wii Fit Plus,Wii,2009.0,Sports,9.01,8.49,2.53,1.77,80.0,7.4,E
16,Grand Theft Auto V,PS3,2013.0,Action,7.02,9.09,0.98,3.96,97.0,8.2,M
17,Grand Theft Auto: San Andreas,PS2,2004.0,Action,9.43,0.40,0.41,10.57,95.0,9.0,M
18,Super Mario World,SNES,1990.0,Platform,12.78,3.75,3.54,0.55,NaN,NaN,NaN
19,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,4.74,9.20,4.16,2.04,77.0,7.9,E
20,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,6.38,4.46,6.04,1.36,NaN,NaN,NaN
21,Super Mario Land,GB,1989.0,Platform,10.83,2.71,4.18,0.42,NaN,NaN,NaN
22,Super Mario Bros. 3,NES,1988.0,Platform,9.54,3.44,3.84,0.46,NaN,NaN,NaN
23,Grand Theft Auto V,X360,2013.0,Action,9.66,5.14,0.06,1.41,97.0,8.1,M
24,Grand Theft Auto: Vice City,PS2,2002.0,Action,8.41,5.49,0.47,1.78,95.0,8.7,M
25,Pokemon Ruby/Pokemon Sapphire,GBA,2002.0,Role-Playing,6.06,3.90,5.38,0.50,NaN,NaN,NaN
26,Brain Age 2: More Training in Minutes a Day,DS,2005.0,Puzzle,3.43,5.35,5.32,1.18,77.0,7.1,E
27,Pokemon Black/Pokemon White,DS,2010.0,Role-Playing,5.51,3.17,5.65,0.80,NaN,NaN,NaN
28,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,6.85,5.09,1.87,1.16,95.0,8.4,E
29,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,9.04,4.24,0.13,1.32,88.0,3.4,M

In [8]:
df.year_of_release = df.year_of_release.astype('int')
df.user_score = df.user_score.astype('float')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [61]:


df[df.user_score == 'tbd']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
119,Zumba Fitness,Wii,2010.0,Sports,3.45,2.59,0.0,0.66,NaN,tbd,E
301,Namco Museum: 50th Anniversary,PS2,2005.0,Misc,2.08,1.35,0.0,0.54,61.0,tbd,E10+
520,Zumba Fitness 2,Wii,2011.0,Sports,1.51,1.03,0.0,0.27,NaN,tbd,T
645,uDraw Studio,Wii,2010.0,Misc,1.65,0.57,0.0,0.20,71.0,tbd,E
657,Frogger's Adventures: Temple of the Frog,GBA,NaN,Adventure,2.15,0.18,0.0,0.07,73.0,tbd,E
...,...,...,...,...,...,...,...,...,...,...,...
16695,Planet Monsters,GBA,2001.0,Action,0.01,0.00,0.0,0.00,67.0,tbd,E
16697,Bust-A-Move 3000,GC,2003.0,Puzzle,0.01,0.00,0.0,0.00,53.0,tbd,E
16698,Mega Brain Boost,DS,2008.0,Puzzle,0.01,0.00,0.0,0.00,48.0,tbd,E
16704,Plushees,DS,2008.0,Simulation,0.01,0.00,0.0,0.00,NaN,tbd,E
16706,Men in Black II: Alien Escape,GC,2003.0,Shooter,0.01,0.00,0.0,0.00,NaN,tbd,T